<h3 class="col-5 offset-3">sign up for aour website</h3>
<div class="row mt-3" >
    <div class="col-5 offset-3">
        <form method="post" action="/signup" class="needs-validation" novalidate>
            <div class=" mb-2" >
                <label for="username" class="form-leble">username</label>
                <input name="username"  id="username"  type="text" class="form-control" required>
                <div class="valid-feedback"> good </div>
                <div class="invalid-feedback">plece inter username</div>
            </div>

            <div class=" mb-2" >
                <label for="email" class="form-leble">email</label>
                <input name="email" placeholder="enter email" id="email"  type="email" class="form-control" required>
                <div class="valid-feedback"> good </div>
                <div class="invalid-feedback">plece inter email</div>
            </div>

            <div class=" mb-2" >
                <label for="password" class="form-leble">password</label>
                <input name="password" placeholder="enter password" id="password"  type="password" class="form-control" required>
                <div class="valid-feedback"> good </div>
                <div class="invalid-feedback">plece inter password</div>
            </div>
            <button class="btn btn-success">SignUp</button>
            
        </form>
    </div>
 
</div>